<!doctype html>
<html lang="pl">
  {% include head.liquid %}

  <body>
    <!-- Google Tag Manager (noscript) -->

    <noscript
      ><iframe
        src="https://www.googletagmanager.com/ns.html?id={{ site.gtag }}"
        height="0"
        width="0"
        style="display:none;visibility:hidden"
      ></iframe
    ></noscript>

    <!-- End Google Tag Manager (noscript) -->

    {{ content }}

    {% include footer/index.liquid %}
  </body>
</html>
